@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

body {
  /* background-image: url('../public/background-image.jpeg'); */
  overscroll-behavior: none;
  
}

h2{
  font-size: 32px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: -2px;
}

h3{
  font-size: 28px;

}

h4{
  font-size: 24px;

}

p{
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;

}




/* .searchbar:active {
  width: 120%;
} */
