@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

body {
  /* background-image: url('../public/background-image.jpeg'); */
  overscroll-behavior: none;
  
}

h1{
  font-size: 46px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -2px;

}

h2{
  font-size: 28px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: -2px;
}

h3{
  font-size: 24px;
  font-weight: normal;

}

h4{
  font-size: 20px;

}

p{
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;

}

/* HTML: <div class="loader"></div> */
.loader {
  width: 30px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background: 
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  33% {background-size: 20% 10% ,20% 100%,20% 100%}
  50% {background-size: 20% 100%,20% 10% ,20% 100%}
  66% {background-size: 20% 100%,20% 100%,20% 10% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}




/* .searchbar:active {
  width: 120%;
} */
